.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh; 
  text-align: center;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

h3 {
  margin: 20px 0;
  color: #333;
}
